

.contact-form
  margin: 0 auto
  max-width: 700px

.contact-form-group
  display: block
  margin: 0 auto
  margin-bottom: 40px
  max-width: 660px
  position: relative
  width: 100%

  &.contact-recaptcha
    margin-bottom: 0

  .contact-form-label
    display: block
    font-weight: 500
    margin-bottom: 4px

  input, textarea
    border: 1px solid $text-color
    height: 58px
    padding: 12px
    position: relative
    width: 100%

  textarea
    height: 200px

  .send-message-button
    margin-top: 60px

    @media screen and (max-width: $break-small)
      margin-top: 50px
      max-width: 100%

.recaptcha-note
  text-align: center
  font-size: 14px
  line-height: 1.5em
  margin-top: 20px

  a
    text-decoration: underline

.send-message-button
  display: block
  margin: 0 auto