.home-welcome
  display: grid
  color: var(--welcome-header-text-color)
  position: relative
  align-items: center
  margin-bottom: 80px

  &.stacked
    grid-template-rows: 1fr

    .welcome-image
      grid-area: 1 / 1
      z-index: 1

    .welcome-message
      grid-area: 1 / 1
      z-index: 2

  @media screen and (max-width: $break-small)
    margin-bottom: 50px

.welcome-message
  font-size: 3em
  text-align: center
  padding: 0 var(--spacing-unit)
  width: 100%

  @media screen and (max-width: $break-small)
    font-size: 1.5em

.welcome-image
  display: block
  margin: 0 auto
  width: 100%

.featured-category
  display: flex
  background-color: var(--accent-background-color)
  margin-bottom: 40px
  padding: 60px
  gap: 60px

  @media screen and (max-width: $break-small)
    flex-direction: column
    height: auto
    max-height: none
    padding: 30px
    gap: 30px

.featured-category-info
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  flex: 1
  font-size: 1.7em
  gap: 50px

a.featured-category-button
  font-size: 1rem
  max-width: 275px
  position: relative
  width: 100%

  @media screen and (max-width: $break-small)
    display: none

  &.mobile-button
    display: none

    @media screen and (max-width: $break-small)
      margin: 20px auto 20px
      display: grid

.featured-category-products
  display: flex
  align-items: flex-start
  flex-direction: column
  justify-content: space-between
  flex: 1
  position: relative

.featured-category-product
  flex-shrink: 1
  height: 60%
  max-height: 400px
  max-width: 400px
  width: 60%
  z-index: 2

  @media screen and (max-width: $break-small)
    max-height: none
    max-width: none

  &.single-featured-product
    align-self: center
    height: auto
    max-height: 100%
    max-width: 100%
    width: auto

  img
    display: block
    height: 100%
    object-fit: contain
    width: 100%

  &:nth-child(2)
    align-self: flex-end
    margin-top: -25%
    z-index: 1

    @media screen and (max-width: $break-small)
      margin-top: -25%

    &:hover
      z-index: 3