\:root
  --background-color: #{'{{ theme.background_color }}'}

  --text-color: #{'{{ theme.text_color }}'}
  --link-hover-color: #{'{{ theme.link_hover_color }}'}

  --accent-background-color: #{'{{ theme.accent_background_color }}'}

  --header-text-color: #{'{{ theme.header_text_color }}'}

  --button-background-color: #{'{{ theme.button_background_color }}'}
  --button-hover-background-color: #{'{{ theme.button_hover_background_color }}'}
  --button-text-color: #{'{{ theme.button_text_color }}'}

  --error-background-color: #950f1e
  --error-text-color: #FFFFFF

  --shadow-color: #{'rgba(var(--text-color-rgb), 0.1)'}
  --shadow-elevation-medium: 0px 0.4px 0.5px var(--shadow-color), 0px 1.3px 1.5px -0.8px var(--shadow-color), 0px 3.4px 3.8px -1.7px var(--shadow-color), 0px 8.2px 9.2px -2.5px var(--shadow-color)

  --announcement-background-color: #{'{{ theme.accent_background_color }}'}
  --announcement-text-color: #{'{{ theme.text_color }}'}

  --product-status-background-color: var(--background-color)
  --product-status-text-color: var(--text-color)

  --border-radius: 0
  --border-radius-sm: 2px
  --spacing-unit: 16px

body
  +flexbox
  +flex-direction(column)
  background-color: $background-color
  color: $text-color
  font-family: $primary-font
  height: 100%
  min-height: 100vh

  &.no-scroll
    overflow: hidden
    position: relative

a.skip-link
  +transition(all .3s)
  background: $background-color
  border: 1px solid $text-color
  color: $text-color
  left: 25px
  padding: 15px 20px
  position: absolute
  text-decoration: underline
  top: -150px
  z-index: 100

  &:focus
    top: 20px

a, a:visited
  color: $text-color
  text-decoration: none

  &:hover, &:focus
    color: $link-hover-color

a[href], label[for], select, button, .pointer
  cursor: pointer

button, input, textarea, select
  +appearance(none)
  background: none
  border: none
  border-radius: 0
  color: $text-color
  font-family: $primary-font
  font-size: 16px
  padding: 0

.button, a.button
  +transition(all .2s linear)
  background-color: $button-background-color
  color: $button-text-color
  height: 60px
  line-height: 60px
  max-width: 275px
  padding: 0 40px
  text-align: center
  width: 100%

  &.minimal-button
    +transform(none)
    background: none
    color: $text-color
    border: none
    padding: 0
    text-decoration: underline

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
      +transform(none)
      box-shadow: none
      background: none
      color: $link-hover-color

  &:disabled, &.disabled
    cursor: not-allowed
    opacity: .3

  &.centered-button
    display: block
    margin: 60px auto

  &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
    background-color: $button-hover-background-color
    color: $button-text-color

    @media (hover: hover)
      +transform(scale(1.02, 1.02))

h1, h2, h3, h4, h5, h6
  color: $text-color
  font-weight: normal
  margin: 0
  padding: 0
  text-align: center

h1
  font-size: 40px
  line-height: 50px
  margin-bottom: 55px

.error-container
  +flexbox
  +justify-content(center)
  +align-items(center)
  background-color: var(--accent-background-color)
  padding: 20px
  margin: 0 auto 30px
  max-width: 760px

  .error-list
    list-style: none
    margin: 0
    padding: 0

.wrapper
  margin: 0 auto
  max-width: 1240px
  padding: 0 20px
  width: 100%

#main
  flex: 1
  padding-bottom: 40px

.custom-content
  font-size: 20px
  line-height: 1.5em
  margin: 0 auto
  max-width: 760px
  width: 100%

  @media screen and (max-width: $break-small)
    font-size: 16px

  p
    margin: revert

  &>:first-child
    margin-top: 0

  &>:last-child
    margin-bottom: 0

  ol, ul
    margin: 1em

  ul
    list-style: disc

  ol
    list-style: decimal

  a
    text-decoration: underline

.lookbook-gallery
  text-align: center

  &:not(:only-child)
    margin-top: 50px

.lookbook-gallery-image
  display: block
  margin-bottom: 50px
  width: 100%

  &:last-child
    margin-bottom: 0

.header
  margin-bottom: 100px

  @media screen and (max-width: $break-small)
    margin-bottom: 40px

a.store-link
  color: var(--shop-name-text-color)
  display: block
  font-family: var(--shop-name-font)
  font-size: 3em
  margin: 60px auto
  max-width: 754px
  width: 100%

.store-logo
  display: block
  margin: 0 auto
  max-width: 100%
  max-height: 200px

  @media screen and (max-width: $break-small)
    max-height: 150px

header, footer
  +flexbox
  +flex-direction(column)
  flex-shrink: 0
  text-align: center

footer
  padding: 80px 0

  @media screen and (max-width: $break-small)
    padding: 72px 0

  .wrapper
    display: flex
    flex-direction: column
    gap: 40px

.footer-store-name
  font-size: 1.5em

.social-icons
  display: flex
  gap: 20px
  list-style: none
  margin: 0
  padding: 0
  flex-wrap: wrap
  justify-content: center

  @media screen and (max-width: $break-small)
    gap: 16px

  a
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    width: 36px
    height: 36px

    svg
      fill: currentColor
      height: 22px
      width: 22px

      &.tumblr-icon
        width: 14px

.bigcartel-credit
  line-height: 1em
  font-size: 15px
  display: inline-flex
  align-items: center
  gap: 8px
  outline-offset: 4px
  padding: 2px 0
  text-decoration: none

  &:hover
    text-decoration: none

  &__text
    position: relative

  &__lockup
    display: block
    fill: currentColor
    padding-top: 1px
    width: 80px

.select
  border: 1px solid $text-color
  color: $text-color
  font-family: $primary-font
  height: 60px
  max-width: 100%
  padding: 0
  position: relative
  text-transform: uppercase
  width: 100%

  select
    border: 0
    color: $text-color
    font-family: $primary-font
    height: 100%
    letter-spacing: 1px
    line-height: 60px
    padding: 0 66px 0 16px
    position: relative
    width: 100%
    z-index: 2

    option
      color: #000

    &:focus
      box-shadow: none

  svg
    +all-transitions
    +transform(translateY(-50%))
    fill: currentColor
    position: absolute
    right: 20px
    top: 50%
    z-index: 1

  &:hover, &:active, &:focus, &:focus-within
    background-color: var(--accent-background-color)
    color: $text-color
    border-color: $text-color

    select
      color: $text-color

      option:disabled
        color: graytext

    svg
      fill: $text-color

.visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.message-banner
  border-radius: var(--border-radius)
  background-color: var(--announcement-background-color)
  color: var(--announcement-text-color)
  padding: 16px
  margin-bottom: 32px
  text-align: left
  width: 100%

  &--centered
    text-align: center

  &--no-bg
    color: var(--text-color)
    background: none
    padding: 0

  &--errors
    background-color: var(--error-background-color)
    color: var(--error-text-color)
