.product-container
  display: grid
  grid-template-columns: 1fr 400px
  column-gap: 48px
  row-gap: 40px

  @media screen and (max-width: $break-large)
    grid-template-columns: 1fr 330px
    column-gap: 32px

  @media screen and (max-width: $break-medium)
    grid-template-columns: minmax(0, 1fr)

.reset-selection-button-container
  text-align: center
  width: 100%

  button.reset-selection-button
    display: none

.product-form
  width: 100%

  button
    max-width: 100%

  @media screen and (max-width: $break-large)
    max-width: 100%

.product-selects
  margin-bottom: 20px

.product-option-groups
  display: flex
  flex-direction: column
  gap: 16px

.product-detail
  display: flex
  flex-direction: column
  row-gap: 36px

  &__header
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 4px

    h1
      margin: 0
      text-align: left

  &__status
    font-size: .925rem
    line-height: normal
    display: inline-block
    padding: 4px 8px
    margin-left: 8px
    color: var(--product-status-text-color)
    background: var(--product-status-background-color)
    border-radius: var(--border-radius-sm)

  &__pricing
    display: flex
    align-items: center
    font-size: 1.2em

  &__description

    p
      margin: revert

    &>:first-child
      margin-top: 0

    &>:last-child
      margin-bottom: 0

    ol, ul
      margin: 1em

    ul
      list-style: disc

    ol
      list-style: decimal

    a
      text-decoration: underline
    
    img 
      display: inline-block
      margin: 0 auto
      max-width: 100%
      margin-bottom: 16px

.all-related-products
  display: none

.related-products-container
  background-color: var(--accent-background-color)
  margin-top: 120px
  padding: 60px 0

.related-products-title
  font-size: 1.5em
  margin-bottom: 20px

#instant-checkout-button
  margin-top: 12px

.inventory-status-message
  color: var(--inventory-status-text-color)
  margin: 10px 0 auto
  text-align: center
  padding: 8px 0
  font-weight: 500

.related-product-list.product-list
  --columns: 4
  justify-content: center

  @media screen and (max-width: $break-medium)
    justify-content: flex-start

  @media screen and (max-width: $break-large)
    --columns: 3
    --gap: calc(var(--spacing-unit) * 2)
  
  @media screen and (max-width: $break-small)
    --columns: #{"{{ theme.max_products_per_row_mobile }}"}